<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Category</h3>
    <div class="add-product-container mt-3">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Category</label>
                <input type="text" name="category" placeholder="category">
            </div>
        </div>
        <div class="a-p-form-row">
            <button>Add Category</button>
        </div>
    </div>
</div>