<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Offer</h3>
    <div class="add-product-container mt-3">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Name</label>
                <input type="text" placeholder="Product Name">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Link</label>
                <input type="text" placeholder="Link To Product">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Image</label>
                <input type="file">
                <!-- <input class="form-control a-p-file form-control-lg" id="formFileLg" type="file"> -->
            </div>
        </div>
        <div class="a-p-form-row">
            <button>Add Offer</button>
        </div>
    </div>
</div>