<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Offer</h3>
    <form action="/admin/add-offer" method="post" class="add-product-container mt-3" enctype="multipart/form-data">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Name</label>
                <input type="text" placeholder="Product Name" name="name" required>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Link</label>
                <input type="text" placeholder="Link To Product" name="url" required>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Image</label>
                <input type="file" accept="image/*" name="image" required >
                <!-- <input class="form-control a-p-file form-control-lg" id="formFileLg" type="file"> -->
            </div>
        </div>
        <% if(error){ %> 
            <b class="text-danger"><%= message  %> </b>
          <% } %> 
        <div class="a-p-form-row">
            <button type="submit">Add Offer</button>
        </div>
    </form>
</div>