<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Product</h3>
    <form class="add-product-container mt-3" id="addProductForm" action="/admin/add-product" method="post" enctype="multipart/form-data">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Name</label>
                <input type="text" name="name" placeholder="Product Name" required>
            </div>
            <div class="a-p-form-col">
                <label for="Category">Category</label>
                <!-- <input type="text" name="category" placeholder="Category"> -->
                <select name="category" placeholder="category" required>
                    <% categories.forEach(item=>{ %> 
                        <option value="<%=item._id+' '+item.category%>"><%= item.category  %></option>
                    <% }) %> 
                    
                </select>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Brand</label>
                <input type="text" name="brand" placeholder="Brand" required>
            </div>
            <div class="a-p-form-col">
                <label for="Category">Quanitity</label>
                <input type="number" name="quantity" placeholder="Quantity" required>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">MRP</label>
                <input type="number" name="MRP" placeholder="MRP" required>
            </div>
            <div class="a-p-form-col">
                <label for="Category">Price</label>
                <input type="number" name="price" placeholder="category" required>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Description</label>
                <textarea name="description" rows="4" form="addProductForm" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Main Image</label>
                <input type="file" name="image" accept="image/*" required>
                <!-- <input class="form-control a-p-file form-control-lg" id="formFileLg" type="file"> -->
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Other Images</label>
                <input type="file" name="images" accept="image/*" multiple required>
                <!-- <input class="form-control a-p-file form-control-lg" id="formFileLg" type="file"> -->
            </div>
            
        </div>
        <% if(error){ %> 
            <b class="text-danger"><%= message  %> </b>
          <% } %> 
        <div class="a-p-form-row">
            <button type="submit">Add product</button>
        </div>
    </form>
</div>
