<%- include('../partials/adminHeader') %>
<div class="add-product-main">
    <h3>Add Product</h3>
    <div class="add-product-container mt-3">
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Name</label>
                <input type="text" placeholder="Product Name">
            </div>
            <div class="a-p-form-col">
                <label for="Category">Category</label>
                <input type="text" placeholder="Category">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">Brand</label>
                <input type="text" placeholder="Brand">
            </div>
            <div class="a-p-form-col">
                <label for="Category">Quanitity</label>
                <input type="text" placeholder="Quantity">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Name">MRP</label>
                <input type="text" placeholder="MRP">
            </div>
            <div class="a-p-form-col">
                <label for="Category">Price</label>
                <input type="text" placeholder="category">
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Description</label>
                <textarea name="" id="" rows="4" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="a-p-form-row">
            <div class="a-p-form-col">
                <label for="Category">Image</label>
                <input type="file">
                <!-- <input class="form-control a-p-file form-control-lg" id="formFileLg" type="file"> -->
            </div>
        </div>
        <div class="a-p-form-row">
            <button>Add product</button>
        </div>
    </div>
</div>