<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu">
    <a href="/admin/">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li  class="selected"><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
        <li><i class="ri-layout-grid-fill"></i> Category</li>
      </a>
  </div>
  <div class="order-container">
    <div class="mt-2 p-3 d-flex align-items-center">
        <h3>Orders</h3>
        <div class="product-search">
            <input type="text" placeholder="search for users">
            <i class="ri-search-line"></i>
        </div>
    </div>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Fasil</th>
                      <td>fasil@gmail.com</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Ban</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                    <tr>
                      <th scope="row">Fasil</th>
                      <td>fasil@gmail.com</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Ban</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                    <tr>
                      <th scope="row">Fasil</th>
                      <td>fasil@gmail.com</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Ban</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                   
                  </tbody>
              </table>
        </div>
    </div>
  </div>
</div>

