<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu">
    <a href="/admin/">
      <li><i class="ri-dashboard-fill"></i>DashBoard</li>
    </a>
    <a href="/admin/orders">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
        <li><i class="ri-layout-grid-fill"></i> Category</li>
      </a>
    <a href="/admin/offers">
        <li class="selected"><i class="ri-percent-fill"></i> Offers</li>
      </a>
      <a href="/admin/banned-users">
        <li><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
      </a>
  </div>
  <div class="order-container">
    <div class="mt-2 p-3 d-flex align-items-center">
        <h3>Offers</h3>
        <!-- <div class="product-search">
            <input type="text" placeholder="search for product">
            <i class="ri-search-line"></i>
        </div> -->
        <a href="/admin/add-offer"><button class="btn btn-dark" style="height: 50px; margin-left:30px;">Add Offers </button></a>
    </div>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Image</th>
                      <th scope="col">Product link</th>
                      <th scope="col">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= 1  %> </th>
                      <th scope="row">Iphone 14 pro</th>
                      <td><img src="https://image01.realme.net/general/20230116/1673851994653.jpg.webp" style="height: 50px;" alt=""></td>
                      <td>http://localhost:4000/product/sdjhrlikvdlei</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                  </tbody>
              </table>
        </div>
    </div>
  </div>
</div>

