<%- include('../partials/adminHeader') %>
<div class="orders-main">
  <div class="side-menu">
    <a href="/admin/">
      <li ><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product">
      <li class="selected"><i class="ri-smartphone-fill"></i> Products</li>
    </a>
    <a href="/admin/users">
      <li><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/category">
        <li><i class="ri-layout-grid-fill"></i> Category</li>
      </a>
      <a href="/admin/offers">
        <li><i class="ri-percent-fill"></i> Offers</li>
      </a>
  </div>
  <div class="order-container">
    <div class="mt-2 p-3 d-flex align-items-center">
        <h3>Products</h3>
        <div class="product-search">
            <input type="text" placeholder="search for product">
            <i class="ri-search-line"></i>
        </div>
        <button class="btn btn-dark" style="height: 50px; margin-left:30px;">Add Product </button>
    </div>
    <div class="row mt-2 p-3">
        <div class="orders-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Image</th>
                      <th scope="col">Category</th>
                      <th scope="col">MRP</th>
                      <th scope="col">Price</th>
                      <th scope="col">Brand</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Iphone 14 pro</th>
                      <td><img src="/images/phone.webp" style="height: 50px;" alt=""></td>
                      <td>Mobile</td>
                      <td>56,999</td>
                      <td>51,999</td>
                      <td>Apple</td>
                      <td>56</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                    <tr>
                      <th scope="row">Iphone 14 pro</th>
                      <td><img src="/images/phone.webp" style="height: 50px;" alt=""></td>
                      <td>Mobile</td>
                      <td>56,999</td>
                      <td>51,999</td>
                      <td>Apple</td>
                      <td>56</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                    <tr>
                      <th scope="row">Iphone 14 pro</th>
                      <td><img src="/images/phone.webp" style="height: 50px;" alt=""></td>
                      <td>Mobile</td>
                      <td>56,999</td>
                      <td>51,999</td>
                      <td>Apple</td>
                      <td>56</td>
                      <td><div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                   
                  </tbody>
              </table>
        </div>
    </div>
  </div>
</div>

