
    <div class="main">
        <header class="container login-header">
          <h3>E-cart Admin</h3>
        </header>
        <div class="container login-container" style="height:85vh">
          <div class="login-box">
            <form action="/admin/login" method="post">
                <div class="form-row">
                  <h2 class="text-center">Login</h2>
                <label class="mt-3">Email</label>
                <input type="text" placeholder="email" name="email" />
              </div>
              <div class="form-row">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" />
                <!-- <a href="/forgot-password">Forgot Password </a> -->
                <% if(error){ %> 
                  <b class="text-danger"><%= message  %> </b>
                <% } %>
              </div>
              <div class="form-row">
                <button>Login</button>
                <!-- <a class="text-center" href="/signup">Don't have account create one </a> -->
              </div>
            </form>
          </div>
          <div class="login-image-container">
            <img src="/images/admin-login.jpg" alt="" />
          </div>
        </div>
      </div>
  