<header class="user-header">
    <div class="container-fluid pe-5 ps-5">
      <div class="row">
  
          <div class="col-11 header-item">
              <i id="sidebarBtn" class="ri-menu-2-line d-block d-md-none"></i>
              <a href="/admin/"><h1>E-cart</h1></a>
          </div>

          <div class="col-1 header-item justify-content-end">
              <div class="header-right">
                  Admin
              </div>
          </div>
      </div>
    </div>
  </header>
  