<header class="user-header adminHeader">
    <div class="container-fluid pe-4 ps-4">
      <div class="row">
  
          <div class="col-11 header-item">
              <i id="sidebarBtn" class="ri-menu-2-line d-block d-lg-none" onclick="openSideBar()"></i>
              <a href="/admin/"><h1><img src="/images/logo.png" height="54" alt="" style="margin-top: -10px;">cartGenie</h1></a>
          </div>

          <div class="col-1 header-item justify-content-end">
              <div class="header-right">
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="background: none; border: none; color:black" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Admin
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                    </ul>
                  </div> -->
                  <button class="btn btn-outline-dark" onclick="if(confirm('are you sure logout ?')){window.location.href='/admin/logout'}" >Logout</button>
              </div>
          </div>
      </div>
    </div>
  </header>
  <script>
    let menuClick=false
    function openSideBar(){
      menuClick=!menuClick
      if(menuClick){
        document.getElementById("adminSideMenu").style.left="0px"
      }else{
        document.getElementById("adminSideMenu").style.left="-1000px"
      }
    }
  </script>