<header class="user-header">
    <div class="container">
      <div class="row">
  
          <div class="col-12 col-md-3 header-item">
              <i id="sidebarBtn" class="ri-menu-2-line d-block d-md-none"></i>
              <a href="/"><h1>E-cart</h1></a>
          </div>

      </div>
    </div>
  </header>

<div class="container">

    <section style="background-image: url(/images/ErrorPage404.jpg); background-size: contain; background-position: center; background-repeat: no-repeat; height: 92vh; width: 100%;">
        <a href="/" class="btn btn-dark" style="position: absolute; top: 65%; left: 20%;">Goto Home Page</a>
    </section>
</div>