<header class="user-header">
  <div class="container">
    <div class="row">

        <div class="col-3 header-item">
            <h1>E-cart</h1>
        </div>
        <div class="col-5 header-item">
            <div class="search-box">
                <input type="text" placeholder="search products">
                <i class="ri-search-line"></i>
            </div>
        </div>
        <div class="col-4 header-item justify-content-end">
            <div class="header-right">
                <div class="right-icon">
                    <i class="ri-heart-line"></i>
                </div>
                <div class="right-icon">
                    <i class="ri-shopping-cart-line"></i>
                </div>
                <div class="right-icon profile">
                    <i class="ri-user-line"></i>
                </div>
                
            </div>
        </div>
    </div>
  </div>
</header>
