.checkout-main{
    width: 100vw;
    background-color: var(--lightGrey);
    min-height: 100vh;
}
.address-box{
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.address-detail{
    display: flex;
    flex-direction: column;
}
.address-box input{
    width: 15px;
    height: 15px;
}
.checkout-payment{
    background-color: #fff;
    padding: 20px;
}
.pay-option button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: var(--black);
    color: #fff;
    font-weight: 500;
}
.pay-option input{
    margin-right: 10px;
}
.checkout-wallet{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.233);
    height: 60px;
    padding: 20px;
    background-color: var(--lightWhite);
    border-radius: 5px;
    cursor: pointer;
}
.checkout-wallet i{
    font-weight: 650;
    position: relative;
    top: 3px;
    
}
.cw-cash{
    display: flex;
    gap: 10px;
}
.cw-cash input{
    width: 20px;
}
