@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Rancho&display=swap');

.user-header {
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 80;
  background-color: var(--white);
  top: 0px;
  
}
.header-item {
  display: flex;
  align-items: center;
  color: var(--black);
  
}
.header-item h1{
  font-family: 'Rancho', cursive;
  color: black;
}
.search-box {
  width: 500px;
  height: 40px;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search-box input {
  all: unset;
  width: 100%;
  height: 100%;
  background: none;
}
.header-right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right-icon.profile {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
}
a{
  text-decoration: none;
}
.right-icon{
  color: var(--black);
}

.sidebar{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 90;
  top: 0px;
  backdrop-filter: blur(2px);
  margin-left: -100%;
  transition: .3s;
}
.sidebar-container{
  width: 70%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  

}
.sidebar.open{
  margin-left: 0px;
}
.side-head{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.side-head i{
  font-size: 1.3rem;
}

.side-items{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
  padding-top: 25px;
}
.side-items li{
  list-style: none;
  font-size: 1rem;
  color: black;
  font-weight: 450;
}
.side-items a{
  display: flex;
  color: black;
  gap: 20px;
}
.logout-btn{
  position: fixed;
  bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 500;
}
.logout-btn a{
  display: flex;
  gap: 20px;
  color: red;
}
.search-box button{
  border: none;
  background: none;
  outline: none;
}

@media(min-width:600px){
  .sidebar{
    display: none;
  }
}
@media(max-width:600px){
  .user-header{
    padding: 50px 0px;
    height: 120px;
  }
  .header-right{
    display: none;
  }
  .header-item h1{
    font-size: 1.8rem;
    margin-top: 8px;
  }
  .header-item i{
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .search-box{
    width:100%;
  }
  .search-box input{
    width: 90%;
  }
  .adminHeader{
    max-height: 70px;
    padding: 0px;
    overflow: hidden;
  }
  
}