.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-header{
     height: 50px;
     background-color: var(--white);
     padding: 20px 10px;
}
.login-container{
    display: flex;
    display: flex;
    justify-content: space-between;
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box form{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.login-box form h2{
    font-weight: 650;
}
.login-box form div{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}
.login-box form input{
    height: 50px;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--lightGrey);
    padding-left: 15px;
}
.login-box form button{
    height: 50px;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--black);
    color: var(--white);
    font-weight: 650;
}
.login-image-container{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.login-image-container img{
    width: 90%;
}

@media(max-width:600px){
    .login-container{
        flex-direction: column-reverse;
        gap: 50px;
        margin-top: 50px;
    }
    .login-image-container img{
        height: 300px;
        width: 280px;
    }
    .login-image-container.signup img{
        height: 220px;
        width: 250px;
    }
    .login-image-container{
        display: flex;
        justify-content: center;
    }
}