/* .car-item{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-item img{
    height: 80%;
    max-height: 100%;
    object-fit: contain;
} */
.car-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 50px;
}
.car-container img {
  height: 60vh;
  object-fit: contain;
}
.product-container {
  max-height: 90vh;
  overflow-x: hidden;
}
.product-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.car-btn {
  background-color: rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 40px;
  background-size: 50%;
  border-radius: 30px;
}
.quantity {
  border: none;
  font-weight: 650rem;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
}
.quantity.plus {
  background-color: var(--black);
  color: white;
}
.quantity-box input {
  width: 30px;
  text-align: center;
  border: none;
  outline: none;
}
.ratings {
  margin-right: 10px;
}
.ratings i {
  color: #cecece;
  font-size: 1.4rem;
}
.btns {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}
.btns button {
  height: 50px;
  width: 38%;
  border: none;
  outline: none;
  font-weight: 550;
}
.btn-ad-cart {
  color: var(--white);
  background-color: var(--black);
}

.rating-color {
  color: #fbc634 !important;
}
.rating-desc {
  color: grey;
}
.product-price {
  display: flex;
  align-items: center;
}
.product-price strike {
  color: rgb(164, 164, 164);
}
.review-profile{
    display: flex;
    align-items: center;
    gap: 15px;
}
.review-profile img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.review-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-name span{
    width: 35px;
    height: 20px;
    gap: 5px;
    font-size: .8rem;
    background-color: green;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-desc{
    padding-left: 65px;
    margin-top: 10px;
}
.review{
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    padding:20px 0px;
}
.product-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-head i{
    font-size: 1.3rem;
}
.small-img{
  left: 75px !important;
}
.product-textarea{
  border: none;
  outline: none;
  background: none;
  line-height: 25px;
  padding-top: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
.product-textarea::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .car-container{
    margin-top: 0px;
    height: 50vh;
  }
  .btns{
    margin-top: -10px;
    gap: 10px;
  }
  .btns button{
    width: 100%;
  }
  .small-img{
    left: 0px !important;
  }
}