:root{
    --black: #060B17;
    --lightGrey: #E5E5E5;
    --white: rgb(255, 255, 255);
    --lightWhite: #F6F6F6;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
input:disabled{
    opacity: 50%;
}