.order-table th, .order-table td{
    padding: 5px;
    text-align: left;
    padding-left: 20px;
}

table input{
    outline: none;
    background: none !important;
    padding: 5px;
    border: none;
}
.thead{
    padding: 20px;
}
.report-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* .report-btns button{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--black);
    color: white;
} */
.filter-head{
    display: flex;
    align-items: center;
}
.filter-head input{
    border: none;
    outline: none;
    background-color: #fff;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(222, 222, 222);
    margin: 5px;
    margin-top: -10px;
}