<%- include('../partials/header') %>
<div class="add-address-main">
    <div class="container">
        
        <h3 >Add Address</h3>
        <div class="add-address-container">
            <form class="add-box mt-3" id="addAddressForm" action="/add-address" method="post">
                <input type="text" name="redirect" value="<%=redirect%>" style="height: 0px; visibility: hidden;" required>
            <h4 class="mt-3">Manage Address</h4>
            <div class="add-row mt-1">
                <div class="add-row-col">
                    <label for="">Name</label>
                    <input type="text" name="name" placeholder="Name" required>
                </div>
                <div class="add-row-col">
                    <label for="">Mobile</label>
                    <input type="text" name="mobile" placeholder="mobile" pattern="[0-9]*" maxlength="10" required >
                </div>
            </div>
            <div class="add-row">
                <div class="add-row-col">
                    <label for="">PIN Code</label>
                    <input type="number" name="pincode" placeholder="PIN code" required>
                </div>
                <div class="add-row-col">
                    <label for="">Locality</label>
                    <input type="text" name="locality" placeholder="locality" required>
                </div>
            </div>
            
            <div class="add-row text-area">
                <div class="add-row-col">
                    <label for="">Address</label>
                    <textarea name="address" placeholder="Address" rows="5" form="addAddressForm" required></textarea>
                </div>
            </div>

            <div class="add-row">
                <div class="add-row-col">
                    <label for="">City/Village/Town</label>
                    <input type="text" name="city" placeholder="city/village/town" required>
                </div>
                <div class="add-row-col">
                    <label for="">State</label>
                    <input type="text" name="state" placeholder="state" required>
                </div>
            </div>
            <div class="add-row">
                <button type="submit">Add Address</button>
            </div>
        </form>
        </div>
    </div>
</div>