<%- include('../partials/header') %>

<div class="cartlist-main">
  <div class="container">
    <h2 class="cart-head">Cart <i class="ri-heart-line"></i></h2>
    <div class="row">
      <div class="col-12 col-md-7">

        <div class="col-12">

          <div class="cart-item">
            <div class="cart-img">
              <img src="/images/tv.jpg" alt="">
            </div>
            <div class="cart-detail">
              <b>Redmi note 7 pro</b>
              <h5>76,543</h4>
            </div>
            <div class="cart-quantity">
              <div class="cartquantiy-box">
                <button>-</button>
                <input type="text" value="3">
                <button>+</button>
              </div>
            </div>
            <div class="cart-cancel">
              <i class="ri-close-line"></i>
            </div>
          </div>

        </div>
        <div class="col-12">

          <div class="cart-item">
            <div class="cart-img">
              <img src="/images/tv.jpg" alt="">
            </div>
            <div class="cart-detail">
              <b>Redmi note 7 pro</b>
              <h5>76,543</h4>
            </div>
            <div class="cart-quantity">
              <div class="cartquantiy-box">
                <button>-</button>
                <input type="text" value="3">
                <button>+</button>
              </div>
            </div>
            <div class="cart-cancel">
              <i class="ri-close-line"></i>
            </div>
          </div>

        </div>
        <div class="col-12">

          <div class="cart-item">
            <div class="cart-img">
              <img src="/images/tv.jpg" alt="">
            </div>
            <div class="cart-detail">
              <b>Redmi note 7 pro</b>
              <h5>76,543</h4>
            </div>
            <div class="cart-quantity">
              <div class="cartquantiy-box">
                <button>-</button>
                <input type="text" value="3">
                <button>+</button>
              </div>
            </div>
            <div class="cart-cancel">
              <i class="ri-close-line"></i>
            </div>
          </div>

        </div>
        <div class="col-12">

          <div class="cart-item">
            <div class="cart-img">
              <img src="/images/tv.jpg" alt="">
            </div>
            <div class="cart-detail">
              <b>Redmi note 7 pro</b>
              <h5>76,543</h4>
            </div>
            <div class="cart-quantity">
              <div class="cartquantiy-box">
                <button>-</button>
                <input type="text" value="3">
                <button>+</button>
              </div>
            </div>
            <div class="cart-cancel">
              <i class="ri-close-line"></i>
            </div>
          </div>

        </div>
        <div class="col-12">

          <div class="cart-item">
            <div class="cart-img">
              <img src="/images/tv.jpg" alt="">
            </div>
            <div class="cart-detail">
              <b>Redmi note 7 pro</b>
              <h5>₹76,543</h4>
            </div>
            <div class="cart-quantity">
              <div class="cartquantiy-box">
                <button>-</button>
                <input type="text" value="3">
                <button>+</button>
              </div>
            </div>
            <div class="cart-cancel">
              <i class="ri-close-line"></i>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          <div class="cart-price-details">
            <h4>Apply Coupons</h4>
            <div class="coupon-item">
              <input type="checkbox" id="coupon1" value="coupon1" name="coupon">
              <label for="coupon1">₹ 67 Cashback</label>
            </div>
            <div class="coupon-item">
              <input type="checkbox" id="coupon2" value="coupon2" name="coupon">
              <label for="coupon2">₹ 25 Cashback</label>
            </div>
            <div class="coupon-item">
              <input type="checkbox" id="coupon3" value="coupon3" name="coupon">
              <label for="coupon3">₹ 38 Cashback</label>
            </div>
            <div class="coupon-item">
              <button>Apply</button>
            </div>
             
            
          </div>
          <div class="cart-price-details">
            <h4>Price details</h4>
            <div class="price-item">
              <label for="">Price (3 item)</label>
              <b>₹ 78,654</b>
            </div>
            <div class="price-item">
              <label for="">Discount</label>
              <b class="text-success">-₹2,654</b>
            </div>
            <div class="price-item">
              <label for="">Coupons Applied</label>
              <b class="text-success">-₹567</b>
            </div>
            <div class="price-item">
              <label for="">Delivery</label>
              <b class="text-success">Free delivery</b>
            </div>
            <div class="price-item">
              <label for="">Total amount</label>
              <b>₹ 78,654</b>
            </div>
            <div class="price-item">
              <a href="/checkout" class="w-100">
                <button class="w-100">Checkout</button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>