
    <div class="main">
        <header class="container login-header">
          <h3>E-cart</h3>
        </header>
        <div class="container login-container">
          <div class="login-box">
            <form action="/change-password" method="post">
              <h2>Change password</h2>
              <div class="form-row">
                <label>New Password</label>
                <input type="password" name="password" placeholder="password" />
              </div>
              <div class="form-row">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="password" />
              </div>
              <% if(error){ %> 
                <b class="text-danger"><%= message  %> </b>
              <% } %> 
              <div class="form-row">
                <button type="submit">Next</button>
              </div>
            </form>
          </div>
          <div class="login-image-container">
            <img src="/images/change-password.jpg" alt="" />
          </div>
        </div>
      </div>
  
  