<%- include('../partials/header') %>

<div class="checkout-main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <h3 class="mt-5">Checkout</h3>
                <label class="address-box mt-3" for="address1">
                    <div class="address-detail">
                        <b>Fasil</b>
                        <b>Tiruru., Malappuram</b>
                        <b>keralal, 676101</b>
                        <b>9636258514</b>
                    </div>
                    <div class="address-radio">
                        <input type="radio" value="address1" name="address" id="address1">
                    </div>
                </label>
                <label class="address-box mt-3" for="address2">
                    <div class="address-detail">
                        <b>Fasil</b>
                        <b>Tiruru., Malappuram</b>
                        <b>keralal, 676101</b>
                        <b>9636258514</b>
                    </div>
                    <div class="address-radio">
                        <input type="radio" value="address2" name="address" id="address2">
                    </div>
                </label>
                <label class="address-box mt-3" for="address3">
                    <div class="address-detail">
                        <b>Fasil</b>
                        <b>Tiruru., Malappuram</b>
                        <b>keralal, 676101</b>
                        <b>9636258514</b>
                    </div>
                    <div class="address-radio">
                        <input type="radio" value="address3" name="address" id="address3">
                    </div>
                </label>
                <div class="pay-option mt-4">
                    <a href="/add-address">
                        <button>Add New Address</button>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <h3 class="mt-5">Payment Info</h3>
                <div class="checkout-payment mt-3">
                    <b>Payment Method</b>
                    <div class="pay-option mt-4">
                        <input type="radio" id="cod" name="payment" value="cod">
                        <label for="cod">Cash on Dilivery</label>
                    </div>
                    <div class="pay-option mt-2">
                        <input type="radio" id="online" name="payment" value="online">
                        <label for="online">Online Payment</label>
                    </div>
                    <div class="pay-option mt-4">
                        <a href="/ordered-product">
                            <button>Place Order</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>