<%- include('../partials/header') %>

<div class="wishlist-main">
    <div class="container">
        <h3 class="wish-head">Coupons <i class="ri-coupon-2-line"></i></h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="wish-item">
                    <div class="wish-img">
                        <img src="/images/coupon.png" alt="">
                    </div>
                    <div class="wish-detail">
                        <b>Cashback Coupon</b>
                        <span><b>₹564</b> Cashback</h4>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>