<%- include('../partials/header') %>
<div class="add-address-main">
    <div class="container">
        
        <h3>Edit Address</h3>
        <div class="add-address-container">
            <form class="add-box mt-3">
            <h4 class="mt-3">Manage Address</h4>
            <div class="add-row mt-1">
                <div class="add-row-col">
                    <label for="">Name</label>
                    <input type="text" placeholder="Name" value="Fasil">
                </div>
                <div class="add-row-col">
                    <label for="">Mobile</label>
                    <input type="number" placeholder="mobile" value="9658694758">
                </div>
            </div>
            <div class="add-row">
                <div class="add-row-col">
                    <label for="">PIN Code</label>
                    <input type="number" placeholder="PIN code" value="612536">
                </div>
                <div class="add-row-col">
                    <label for="">Locality</label>
                    <input type="text" placeholder="locality" value="Near Something">
                </div>
            </div>
            
            <div class="add-row text-area">
                <div class="add-row-col">
                    <label for="">Address</label>
                    <textarea name=""placeholder="Address" value="somethig, skd, fkd," rows="5"></textarea>
                </div>
            </div>

            <div class="add-row">
                <div class="add-row-col">
                    <label for="">City/Village/Town</label>
                    <input type="text" placeholder="city/village/town" value="Tirur">
                </div>
                <div class="add-row-col">
                    <label for="">State</label>
                    <input type="text" placeholder="state" value="Kerala">
                </div>
            </div>
            <div class="add-row">
                <button>Add Address</button>
            </div>
        </form>
        </div>
    </div>
</div>