<%- include('../partials/header') %>
<div class="edit-profile-main">
    <div class="container d-flex flex-column align-items-center">
        <h4>Edit Profile</h4>
        <form action="/edit-profile" method="post" class="edit-profile-container">
            <div class="form-row">
                <label>Name</label>
                <input type="text" name="name" placeholder="name" value="<%=user.name%>" />
             </div>
            <div class="form-row">
                <label>Email</label>
                <input type="email" readonly style="color: rgb(77, 77, 77);" name="email" placeholder="email" value="<%=user.email%>" />
             </div>
            <div class="form-row">
                <label>Current Password</label>
                <input type="password" name="password" placeholder="password" />
                <% if(error){ %> 
                    <b class="text-danger"><%= message  %> </b>
                  <% } %> 
             </div>
            <!-- <div class="form-row">
                <label>New Password</label>
                <input type="password" name="newPassword" placeholder="password" />
             </div> -->
            <div class="form-row">
                <button type="submit">Save Changes</button>
             </div>
        </form>
    </div>
</div>