<%- include('../partials/header') %>
<div class="edit-profile-main">
    <div class="container d-flex flex-column align-items-center">
        <h4>Edit Profile</h4>
        <div class="edit-profile-container">
            <div class="form-row">
                <label>Name</label>
                <input type="text" name="name" placeholder="name" />
             </div>
            <div class="form-row">
                <label>Email</label>
                <input type="email" name="email" placeholder="email" />
             </div>
            <div class="form-row">
                <label>Current Password</label>
                <input type="password" name="password" placeholder="password" />
             </div>
            <div class="form-row">
                <label>New Password</label>
                <input type="password" name="password" placeholder="password" />
             </div>
            <div class="form-row">
                <button>Save Changes</button>
             </div>
        </div>
    </div>
</div>