
    <div class="main">
        <header class="container login-header">
          <h3>E-cart</h3>
        </header>
        <div class="container login-container">
          <div class="login-box">
            <form action="">
              <h2>Verify OTP</h2>
              <p>Enter the OTP sent to <b>fasil@gmail.com</b></p>
              <div class="form-row">
                <input type="text" placeholder="OTP" name="otp" />
              </div>
              <div class="form-row">
                <button>Verify</button>
              </div>
            </form>
          </div>
          <div class="login-image-container">
            <img src="/images/login-img.webp" alt="" />
          </div>
        </div>
      </div>
  
  