
    <div class="main">
        <header class="container login-header">
          <h3>E-cart</h3>
        </header>
        <div class="container login-container">
          <div class="login-box">
            <form action="/forgot-password-email" method="post">
              <h2>Enter Email</h2>
              <p>We will sent an OTP to this email</p>
              <div class="form-row">
                <input type="text" placeholder="Email" name="email" />
              </div>
              <% if(error){ %> 
                <b class="text-danger"><%= message  %> </b>
              <% } %> 
              <div class="form-row">
                <button type="submit">Next</button>
              </div>
            </form>
          </div>
          <div class="login-image-container">
            <img src="/images/email.jpg" alt="" />
          </div>
        </div>
      </div>
  
  