<%- include('../partials/header') %>
<div class="home-main">
  <div class="container">
    <div class="row">
      <div class="home-banner" style="background-image: url(/images/banner.jpg);"></div>
    </div>
    <div class="row mt-5">
      <h6>Category</h6>
      <div class="row mt-3">
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(/images/phone.webp);
              "
            ></div> 
            <b class="category">Smartphones</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(/images/laptop.webp);
              "
            ></div>
            <b class="category">Laptop</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(/images/tab.webp);
              "
            ></div>
            <b class="category">Tablets</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(images/watch.webp);
              "
            ></div>
            <b class="category">Smartwatch</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(/images/tv.jpg);
              "
            ></div>
            <b class="category">TV</b>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="category-item">
            <div
              class="category-img"
              style="
                background-image: url(/images/earphone.webp);
              "
            ></div>
            <b class="category">Earphone</b>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <h6>New Launches</h6>
        <div class="row mt-3">
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://image01.realme.net/general/20230116/1673851994653.jpg.webp" class="d-block w-100 carousal-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://i03.appmifile.com/609_operator_in/13/01/2023/a5c8f0be1ff691f51c520d8fa0fb9481.jpg?f=webp"  class="d-block w-100 carousal-img" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://image01.realme.net/general/20221124/1669271312450.jpg.webp"  class="d-block w-100 carousal-img" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    <div class="row mt-5">
      <h6>Recommendations</h6>
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="recommendation">
            <div class="product-card">
              <div class="product-img">
                <img src="/images/realme9.webp" alt="">
              </div>
              <div class="product-desc">
                <div class="product-name">Realme</div>
                <div class="product-spec">8GB RAM / 512GB SSD
                  Ryzen 5 5500U</div>
                <div class="product-price">₹14,999</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
