
    <div class="main">
      <header class="container login-header">
        <h3>cartGenie</h3>
      </header>
      <div class="container login-container">
        <div class="login-box">
          <form action="/login" method="post">
            <h2>Login</h2>
            <div class="form-row">
              <label>Email</label>
              <input type="text" placeholder="email" name="email"  />
            </div>
            <div class="form-row">
              <label>Password</label>
              <input type="password" name="password" placeholder="password" />
              <a href="/forgot-password">Forgot Password </a>
            </div>
            <div class="form-row">
              <% if(error){ %> 
                <b class="text-danger"><%= message  %> </b>
              <% } %> 
              <button>Login</button>
              <a class="text-center" href="/signup">Don't have account create one </a>
            </div>
          </form>
        </div>
        <div class="login-image-container">
          <img src="/images/login-img.webp" alt="" />
        </div>
      </div>
    </div>
