<%- include('../partials/header') %>
<div class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <form class="filter-sec">
          <div class="row">
            <h6>Cartegory</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
                <input type="radio" value="smartpohone" name="category" id="Smartphone" />
                <label for="Smartphone">Smartphone</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="tv" name="category" id="TV" />
                <label for="TV">TV</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="smartwatch" name="category" id="Smartwatch" />
                <label for="Smartwatch">Smartwatch</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="earphones" name="category" id="Earphone" />
                <label for="Earphone">Earphone</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="laptops" name="category" id="Laptop" />
                <label for="Laptop">Laptop</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="tablets" name="category" id="Tablets" />
                <label for="Tablets">Tablets</label>
            </div>
          </div>
          <div class="row mt-5">
            <h6>Filter</h6>
          </div>
          <div class="filter-options mt-3">
            <div class="ft-option">
                <input type="radio" value="low to high" name="filter" id="lowToHigh" />
                <label for="lowToHigh">Price - Low to High</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="high to low" name="filter" id="highToLow" />
                <label for="highToLow">Price - High to Low</label>
            </div>
            <div class="ft-option">
                <input type="radio" value="new launches" name="filter" id="newLaunches" />
                <label for="newLaunches">New Launches</label>
            </div>
            </div>
            <button class="mt-5" type="submit">Save</button>

        </form>
      </div>
      <div class="col-9">
        <div class="row mt-5">
          <h5>Smartphone</h5>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="recommendation">
              <a href="/product/id" class="product-card">
                <div class="product-img">
                  <img src="/images/realme9.webp" alt="" />
                </div>
                <div class="product-desc">
                  <div class="product-name">Realme</div>
                  <div class="product-spec">
                    8GB RAM / 512GB SSD Ryzen 5 5500U
                  </div>
                  <div class="product-price">₹14,999</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
