
    <div class="main">
        <header class="container login-header">
          <h3>c\artGenie</h3>
        </header>
        <div class="container login-container">
          <div class="login-box">
            <form action="/signup" method="post">
              <h2>Signup</h2>
              <div class="form-row">
                <label>Name</label>
                <input type="text" placeholder="name" name="name" />
              </div>
              <div class="form-row">
                <label>Email</label>
                <input type="text" placeholder="email" name="email" />
              </div>
              <div class="form-row">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" />
                <% if(error){ %> 
                  <b class="text-danger"><%= message  %> </b>
                <% } %> 
              </div>
              
              <div class="form-row">
                <button>Signup</button>
                <a class="text-center" href="/login">Already have account? login ! </a>
              </div>
            </form>
          </div>
          <div class="login-image-container signup">
            <img src="/images/login-img.webp" alt="" />
          </div>
        </div>
      </div>
  
  