<%- include('../partials/header') %>
<div class="profile-main">
    <div class="container pt-5">
        <h3>Profile</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="profile-container">
                    <h4>General</h4>
                    <div class="profil-row">
                        <b>Name : </b><span>Mohamed Fasil KP</span>
                    </div>
                    <div class="profil-row">
                        <b>Email : </b><span>Fasil@gmail.com</span>
                    </div>
                    <div class="profil-row">
                        <b>Password : </b><span>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                            <i class="ri-checkbox-blank-circle-fill"></i>
                        </span>
                    </div>
                    <div class="profil-row">
                        <button>Edit</button>
                        <button>Logout</button>
                    </div>
                </div>
                <div class="porfile-items">
                    <div class="profile-item">
                        <b>Cart</b>
                        <i class="ri-shopping-cart-line"></i>
                    </div>
                </div>
                <div class="porfile-items">
                    <div class="profile-item">
                        <b>Wishlist</b>
                        <i class="ri-heart-line"></i>
                    </div>
                </div>
                <div class="porfile-items">
                    <div class="profile-item">
                        <b>Order History</b>
                        <i class="ri-shopping-bag-2-line"></i>
                    </div>
                </div>
                <div class="porfile-items">
                    <div class="profile-item">
                        <b>Coupons</b>
                        <i class="ri-coupon-2-line"></i>
                    </div>
                </div>
                <div class="row"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="manage-profile-address pt-3">
                    <h4>Manage address</h4>
                    <div class="manage-address-row">
                        <div class="man-ad-left">
                            <b>somethin house</b>
                            <b>Tirur, malappuram</b>
                            <b>Near Railway station</b>
                            <b>PIN: 676101</b>
                        </div>
                        <div class="man-ad-right">
                            <i class="ri-delete-bin-5-line"></i>
                            <i class="ri-edit-box-line"></i>
                        </div>
                    </div>
                    <div class="manage-address-row">
                        <div class="man-ad-left">
                            <b>somethin house</b>
                            <b>Tirur, malappuram</b>
                            <b>Near Railway station</b>
                            <b>PIN: 676101</b>
                        </div>
                        <div class="man-ad-right">
                            <i class="ri-delete-bin-5-line"></i>
                            <i class="ri-edit-box-line"></i>
                        </div>
                    </div>
                    <div class="manage-address-row">
                        <div class="man-ad-left">
                            <b>somethin house</b>
                            <b>Tirur, malappuram</b>
                            <b>Near Railway station</b>
                            <b>PIN: 676101</b>
                        </div>
                        <div class="man-ad-right">
                            <i class="ri-delete-bin-5-line"></i>
                            <i class="ri-edit-box-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>