<%- include('../partials/header') %>

<div class="wishlist-main">
    <div class="container">
        <h2 class="wish-head">Wishlist <i class="ri-heart-line"></i></h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="wish-item">
                    <div class="wish-img">
                        <img src="/images/tv.jpg" alt="">
                    </div>
                    <div class="wish-detail">
                        <b>Redmi note 7 pro</b>
                        <h5>76,543</h4>
                    </div>
                    <div class="wish-cancel">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
               
            </div>
            <div class="col-12 col-md-6">
                <div class="wish-item">
                    <div class="wish-img">
                        <img src="/images/tv.jpg" alt="">
                    </div>
                    <div class="wish-detail">
                        <b>Redmi note 7 pro</b>
                        <h5>76,543</h5>
                    </div>
                    <div class="wish-cancel">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
               
            </div>
            <div class="col-12 col-md-6">
                <div class="wish-item">
                    <div class="wish-img">
                        <img src="/images/tv.jpg" alt="">
                    </div>
                    <div class="wish-detail">
                        <b>Redmi note 7 pro</b>
                        <h5>76,543</h5>
                    </div>
                    <div class="wish-cancel">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
               
            </div>
            <div class="col-12 col-md-6">
                <div class="wish-item">
                    <div class="wish-img">
                        <img src="/images/tv.jpg" alt="">
                    </div>
                    <div class="wish-detail">
                        <b>Redmi note 7 pro</b>
                        <h5>76,543</h5>
                    </div>
                    <div class="wish-cancel">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>